.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
 .main-content {
    flex-grow: 1;
    display: flex;
 }
 .content {
    flex-basis: 85%;
    overflow-y: auto;
 }
 body {
   margin: 0;
 }
 