
.login-form{
    
    margin: 100px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 8px;
    width: 200px;
}

.login-form button {
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}
