.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
}

.welcome-page h1 {
    margin-bottom: 80px;
}

.welcome-page button {
    margin-bottom: 20px;
}

.welcome-page button {
    margin: 45px;
    padding: 10px;
    background-color: rgb(86, 80, 72);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.welcome-page button:hover {
    background-color: rgb(128, 119, 83);
}

.welcome-buttons {
    display: flex;
}
